.item{
   text-decoration: none; 
   color: black;
}

.menu-item{
    transition: color 0.5s ease-in;
}

.item-block{
   /* background-color: black; */
   color: black;
   /* border-radius: 52px; */
   position: relative;
   z-index: 1;
   overflow: hidden;
   border-bottom: 1px solid rgb(122, 204, 199);
   padding-left: 30px;
   padding-right: 30px;
}


.item-block:hover{
   color: black;
}

.item-block:hover .item {
   color: black;
}

/* .item-block::before{
   content: '';
   top: 0;
   left: 0;
   width: 0;
   right: 0;
   height: 100%;
   position: absolute;
   background-color: white;
   z-index: -1;
   transition: .5s;
}


.item-block:hover::before{
   width: 100%;
} */

.item-children{
   /* background-color: black; */
   color: black;
   /* border-radius: 52px; */
   position: relative;
   z-index: 1;
   overflow: hidden;
   /* border-bottom: 1px solid rgb(122, 204, 199); */
   padding-left: 30px;
   padding-right: 30px;
}